<article>

<h1>404</h1>

<section id="body" style="text-align: center;">

	<h2>Sorry, the page you're looking for has not been found.</h2>
	<p>Why not try returning to the <a href="/">home page</a>?</p>
	<p>Alternatively, here's a tiny animation of a little rabbit having his head stroked. That always makes me feel better.</p>
	<p><img src="/images/loading.gif" alt="Rabbit's nose being stroked" width="45" height="45" /></p>

</section>

</article>