<article>
	<header>
		<h1>Barry Frost</h1>
	</header>
	<section id="body">

		<p>Hello. This is my personal site for blog articles and to aggregate my content and favourites from services around the web. Content and articles posted here do not necessarily represent the views of my company.</p>

		<p>Since <a href="http://www.whitelabeldating.com/press-releases/barry-frost/">January 2008</a> I've been <a href="http://www.linkedin.com/in/barryfrost">Technical Director</a> of <a href="http://www.globalpersonals.co.uk/">Global Personals</a>, a British online dating company that creates the software and runs the back-end for over 4,500 dating sites through our <a href="http://www.whitelabeldating.com/">White Label Dating</a> product. I head up our 20-strong development team we call <a href="http://globaldev.co.uk/">globaldev</a>.</p>

		<p>Previously I've worked in agencies, corporates and startups, big and small, in and around London and New Zealand. You can read more about my professional background on <a href="http://www.linkedin.com/in/barryfrost">LinkedIn</a>.</p>

		<h2>Keeping me occupied</h2>

		<p>My day job is increasingly spent in Google Apps, catch-ups and meetings. Not so long ago I was a full-time developer and although I love my job, I miss creating things. So building and writing for this site (and other personal projects) is a fun way of trying to keep sharp.</p>

		<p>Currently interesting me are (in no particular order): Ruby, Heroku, Sinatra, git/GitHub, Python, Google App Engine, Node.js, Memcached, Redis.</p>

		<h2>Favourite things</h2>

		<p>I try to be an early adopter (my account is the 4,677th on Twitter) and I habitually try out new services and technologies in the fear that I'll miss the boat. Apple hardware by preference. More? My <a href="http://globalpersonals.co.uk/barry-frost.html">work profile</a> has some cheesy "quick fire questions".</p>

		<h2>Contact</h2>
		
		<p>Find and follow me on Twitter as <a href="http://twitter.com/barryf">@barryf</a> or email me at <a href="mailto:barry@barryfrost.com">barry@barryfrost.com</a>.</p>
	
	</section>
</article>