<!doctype html>
<html>
	<head>
		<title>Destroy <%= params[:shortcode] %></title>
	</head>
	<body> 
		<% if @success %>
			<p>Destroyed <%= params[:shortcode] %></p>
		<% else %>
			<p>Failed to destroy <%= params[:shortcode] %></p>
		<% end %>
	</body>
</html>