<!doctype html>
<html>
	<head>
		<title><%= @title ||= '' %></title>
		<link rel="stylesheet" href="/screen.css" type="text/css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
	</head>
	<body class="<%= @body_class ||= '' %>">
		<h1>
			<a href="http://barryfrost.com/"><img src="/images/barryf-small.jpg" alt="Barry Frost" /></a> Hello, I'm <a href="http://barryfrost.com/">Barry Frost</a> and this is my work-in-progress life stream aggregator project.
		</h1> 

<%= yield %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script>
			function load_next(ts) {
				$.ajax({ url: "/?ts=" + ts, success: function(data){
					$('#stream').append(data);
				}});
			}
		</script>
	</body>
</html>