<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= @title || '' %></title>
		<meta name="description" content="Barry Frost's personal website."> 
	    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-158467-6']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<script src="http://use.typekit.com/jxy6qmc.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	</head>
	<body class="<%= @body_class || '' %>">
		<header id="global">
			<h1>
				<a href="/" id="home">
					<img src="/images/barryf.jpg" alt="Barry Frost" />
					<span>Barry Frost</span>
				</a>
			</h1>
			<h2>Hello, I&rsquo;m <a href="/about">Barry</a>. I&rsquo;m currently leading a <a href="http://globaldev.co.uk/">dev team</a> as <a href="http://www.linkedin.com/in/barryfrost">Technical Director</a> at <a href="http://www.globalpersonals.co.uk/">Global Personals</a>. I live in <a href="http://en.wikipedia.org/wiki/Windsor,_Berkshire">Windsor</a> in the UK. <a href="/about">Read&nbsp;more&hellip;</a></h2>
			<p>This site aggregates some of my decentralised content and favourites, combining them into one chronological list.</p>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/colophon">Colophon</a></li>
			</ul>
			<ul>
				<li><a href="http://twitter.com/barryf" rel="me" title="Twitter tweets. They may make no sense out of context.">Twitter <span class="account">&ndash; barryf</span></a></li>
				<li><a href="http://www.linkedin.com/in/barryfrost" rel="me" title="My LinkedIn professional public profile.">LinkedIn <span class="account">&ndash; barryfrost</span></a></li>
				<li><a href="http://delicious.com/barryf" rel="me" title="My Delicious links. Rather geeky.">Delicious <span class="account">&ndash; barryf</span></a></li>
				<li><a href="http://github.com/barryf" rel="me">GitHub <span class="account">&ndash; barryf</span></a></li>
				<li><a href="http://flickr.com/photos/barryf" rel="me" title="My Flickr photos. Amateur at best, I&rsquo;m afraid.">Flickr <span class="account">&ndash; barryf</span></a></li>
				<li><a href="http://last.fm/user/barryf" rel="me" title="Last.fm tracks.">Last.fm <span class="account">&ndash; barryf</span></a></li>
				<!--
				<li><a href="http://dopplr.com/traveller/barryf" rel="me" title="Trips I'm planning from Dopplr">Dopplr</a></li>
				<li><a href="http://lanyrd.com/people/barryf" rel="me">Lanyrd</a></li>
				<li>http://www.google.com/profiles/barryfrost</li>
				<li>http://youtube.com/user/barryfrost</li>
				<li>http://socialgraph-resources.googlecode.com/svn/trunk/samples/findyours.html?q=barryfrost.com</li>
				-->
			</ul>
			<!--The opinions expressed herein are all my own personal opinions and do not represent my employer's view in any way.-->
		</header>
		<nav id="types">
			<li class="entry"><a href="/entries/" title="Entries from my blog">Entries</a></li>
			<li class="twitter"><a href="/tweets/" title="Tweets from Twitter (@barryf)">Tweets</a></li> 
			<li class="delicious"><a href="/links/" title="Bookmarked links on Delicious (barryf)">Links</a></li> 
			<li class="flickr"><a href="/photos/" title="My Flickr photos (barryf)">Photos</a></li> 
			<li class="youtube"><a href="/videos/" title="Favourite YouTube videos (barryfrost)">Videos</a></li> 
			<li class="lastfm"><a href="/music/" title="Tracks I've loved and scrobbled to Last.fm (barryf)">Music</a></li>
		</nav>
		<div id="content">
		
<%= yield %>

		</div>
		<footer>&copy; 2011 Barry Frost. Powered by Heroku, Sinatra and Ruby.</footer>
		<script src="/js/hub.js"></script>
		<!-- Page generated <%= Time.now %> -->
	</body>
</html>