<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= @title ||= '' %></title>
		<link rel="stylesheet" href="/css/screen.css" type="text/css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-158467-6']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<script src="http://use.typekit.com/jxy6qmc.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	</head>
	<body class="<%= @body_class || '' %>">
		<header id="global">
			<a href="/">
				<img src="/images/barryf-small.jpg" alt="Barry Frost" />
				<h1>Barry Frost</h1>
			</a>
			<h2>Hello, this is my work-in-progress life stream aggregator project. More soon.</h2>
			<p><a href="http://barryfrost.com">barryfrost.com</a></p>
			<p><a href="http://twitter.com/barryf">@barryf</a></p>
		</header>
		<nav id="types">
			<li class="entry"><a href="/entries/" title="Entries from my blog">Entries</a></li>
			<li class="twitter"><a href="/tweets/" title="Tweets from Twitter (@barryf)">Tweets</a></li> 
			<li class="delicious"><a href="/links/" title="Bookmarked links on Delicious (barryf)">Links</a></li> 
			<li class="flickr"><a href="/photos/" title="My Flickr photos (barryf)">Photos</a></li> 
			<li class="youtube"><a href="/videos/" title="Favourite YouTube videos (barryfrost)">Videos</a></li> 
			<li class="lastfm"><a href="/music/" title="Tracks I've loved and scrobbled to Last.fm (barryf)">Music</a></li>
		</nav>
		<div id="content">
		
<%= yield %>

		</div>
		<script src="/js/hub.js"></script>
		<!-- Page generated <%= Time.now %> -->
	</body>
</html>