<div id="sidebar" class="vcard">
	<p class="photo">
		<% if @body_class != 'home' %>
			<a href="/">
				<img src="/images/barryf.jpg" alt="Photo of Barry Frost" width="60" height="60" />
				<span>↩ Home</span>
			</a>
		<% else %>
			<img src="/images/barryf.jpg" alt="Photo of Barry Frost" />
		<% end %>
	</p>
	<p class="intro">Hello, I&rsquo;m <a class="url" href="/about"><strong class="fn">Barry Frost</strong></a>. I live in <a href="http://en.wikipedia.org/wiki/Windsor,_Berkshire" class="locality">Windsor</a> in the UK where I&rsquo;m <a href="http://www.linkedin.com/in/barryfrost" class="title">Technical Director</a> of <a href="http://www.globalpersonals.co.uk/">Global Personals</a> and lead the <a href="http://globaldev.co.uk/">globaldev</a> team. Read more <a href="/about">about me</a>.</p>
	<h2>Elsewhere</h2>
	<ul>
		<li><a href="http://twitter.com/barryf" rel="me" title="Twitter tweets. They may make no sense out of context.">Twitter <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://www.linkedin.com/in/barryfrost" rel="me" title="My LinkedIn professional public profile.">LinkedIn <span class="account">&ndash; barryfrost</span></a></li>
		<li><a href="http://delicious.com/barryf" rel="me" title="My Delicious links. Rather geeky.">Delicious <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://github.com/barryf" rel="me" title="A handful of projects I've open sourced/shared.">GitHub <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://flickr.com/photos/barryf" rel="me" title="My Flickr photos. Amateur at best, I&rsquo;m afraid.">Flickr <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://last.fm/user/barryf" rel="me" title="Songs I've scrobbled to Last.fm.">Last.fm <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://lanyrd.com/people/barryf" rel="me" title="Conferences and meet-ups I'm attending.">Lanyrd <span class="account">&ndash; barryf</span></a></li>
		<li><a rel="me" title="An open graph search for other content sites linking here." href="http://socialgraph-resources.googlecode.com/svn/trunk/samples/findyours.html?q=barryfrost.com">Others&hellip;</a></li>
		<!--
		<li><a href="http://dopplr.com/traveller/barryf" rel="me" title="Trips I'm planning from Dopplr">Dopplr</a></li>
		<li>http://www.google.com/profiles/barryfrost</li>
		<li>http://youtube.com/user/barryfrost</li>
		-->
	</ul>
	<h2>Also</h2>
	<ul>
		<li><a href="/feed">Subscribe (via Atom)</a></li>
		<li>vCard (via X2V)</li>
		<li><a href="mailto:barry@barryfrost.com" class="email">Email me</a></li>
	</ul>
	<p><a href="/articles/a-new-start">Built</a> and powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="http://www.heroku.com/">Heroku</a> and me.</p>
	<p>&copy; Barry Frost 2011&mdash;</p>
</div>