<div id="sidebar" class="vcard">
	<p class="photo">
		<a href="<%= canonicalurl %>">
			<img src="/images/barryf.jpg" alt="Photo of Barry Frost" width="60" height="60" />
			<span>↩ Home</span>
		</a>
	</p>
</div>