/*** RESET ***/

@import '/css/reset.css';

/*** GLOBAL ***/

body {
  font-family: "etica-1", "etica-2", Helvetica, Arial, sans-serif;
	font-weight: 200;
	background: rgb(20,20,20);
	color: #bbb;
  text-shadow: 0 1px 0 #000;
	margin-bottom: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #c60;
}
a:active {
	position: relative;
	top: 1px;
}

strong {
	font-weight: 600;
}

header#global {
  position: fixed;
  top: 30px;
  left: 20px;
  height: 500px;
  width: 150px;
  z-index: 10000;
  font-size: 13px;
  line-height: 16px;
}
header#global h1 img {
  display: block;
  float: left;
  margin-right: 10px;
  background-color: #bbb;
  padding: 1px;
}
header#global h1 span {
  display: block;
  padding-top: 25px;
  font-size: 20px;
	line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
header#global h1 a:hover span {
  color: #c60;
}
header#global h1 a:hover img {
  background-color: #c60;
}
header#global h1 a:active span {
	position: relative;
	top: 1px;
}
header#global h2 {
  clear: left;
  padding-top: 20px;
}
header#global ul {
  font-size: 14px;
  line-height: 18px;
}
header#global li a {
  display: block;
}
header#global p, header#global ul {
  padding-top: 20px;
}
header#global nav {
  margin: 20px 0;
}
.account {
  visibility: hidden;
  font-size: 11px;
}
a:hover .account {
  visibility: visible;
}

/*** CONTENT ***/

#content {
  clear: both;
  padding-top: 65px;
  margin-left: 200px;
}
#content h4 {
	position: absolute;
	left: 220px;
	font-size: 15px;
	line-height: 18px;
	width: 120px;
}
#content dd {
	display: block;
	margin-bottom: 2px;
}
#content>ol>li {
	margin: 0 0 20px 160px;
	background: url(/images/stream3.png) repeat-y;
}
#content img {
  background-color: #bbb;
  padding: 1px;
  margin: 5px 0 0 0;
}
#content dl {
	padding: 0 20px 0 10px;
	margin: 0 0 20px 0;
	border-style: solid;
	border-left-width: 10px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 200;
	max-width: 550px;
}
#content dt, #content dd { display: inline; }
#content .permalink {
  position: absolute;
  display: block;
  width: 40px;
  margin-left: -70px;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
	line-height: 18px;
	padding-top: 1px;
}
#content .permalink a {
  color: #555;
}
#content .entry dl {
	border-color: #c60;
	margin-left: 0;
}
#content .entry {
	font-weight: 400;
}
#content .entry a:hover { color: #c60; }
#content .twitter dl {
	border-color: #34CCFF;
	margin-left: 80px;	
}
#content .twitter a:hover { color: #34CCFF; }
#content .twitter a:hover img { background-color: #34CCFF; }
#content .delicious dl {
	border-color: #3274D1;
	margin-left: 160px;
}
#content .delicious a:hover { color: #3274D1; }
#content .delicious a:hover img { background-color: #3274D1; }
#content .delicious dt, #content .entry dt {
	font-weight: 400;	
	display: block;
}
/*#content .delicious .body:before {
  content: " - ";
}*/
#content .flickr dl {
	border-color: #FF0084;
	margin-left: 240px;
}
#content .flickr a:hover { color: #FF0084; }
#content .flickr a:hover img { background-color: #FF0084; }
#content .youtube dl {
	border-color: #FF3333;
	margin-left: 320px
}
#content .youtube a:hover { color: #FF3333; }
#content .youtube a:hover img { background-color: #FF3333; }
#content .lastfm dl {
	border-color: #D10E05;
	margin-left: 400px;	
}
#content .lastfm a:hover { color: #D10E05; }
#content .lastfm a:hover img { background-color: #D10E05; }

/*** NAV ***/

nav#types {
	display: block;
	background: rgba(33,33,33,0.9);
	border-top: #c60 solid 10px;
	font-size: 15px;
	line-height: 15px;
	position: fixed;
	z-index: 9999;
	top: 0; /* 136px */
	padding: 20px 0 0 360px;
	left: 0;
	width: 100%;
	height: 15px;
}
nav#types li {
	display: block;
	float: left;
}
nav#types a, nav#types span {
	display: block;
	float: left;
	width: 60px;
	border-left-style: solid;
	border-left-width: 10px;
	padding: 0 0 0 10px;
	margin-bottom: 10px;
}
nav#types a:hover, nav#types a:hover.inactive {
  color: #c60;
}
nav#types a.inactive {
  text-decoration: line-through;
  border-color: #001F35;
  color: #334;
}
nav#types .active * {
	font-weight: 400;
}
nav#types .entry *           { border-color: #c60;    } 
nav#types .entry a:hover     { color: #c60;           }
nav#types .delicious *       { border-color: #3274D1; }
nav#types .delicious a:hover { color: #3274D1;        }
nav#types .twitter *         { border-color: #34CCFF; }
nav#types .twitter a:hover   { color: #34CCFF;        }
nav#types .flickr *          { border-color: #FF0084; }
nav#types .flickr a:hover    { color: #FF0084;        }
nav#types .lastfm *          { border-color: #D10E05; }
nav#types .lastfm a:hover    { color: #D10E05;        }
nav#types .youtube *         { border-color: #FF3333; }
nav#types .youtube a:hover   { color: #FF3333;        }

/*** ENTRY ***/

article {
  display: block;
  margin: 0 20px 0 160px;
  max-width: 602px;
  font-size: 16px;
  line-height: 25px;
}
article h1 {
  font-size: 28px;
  line-height: 33px;
}
article h2 {
  font-size: 20px;
  line-height: 25px;
}
article h1, article h2 {
  margin-bottom: 25px;
  font-weight: 800;
  color: #eee;
}
article p {
	margin: 0 0 25px 0;
	max-width: 500px;
}
article p a {
  font-weight: 400;
}
article p a:hover {
  border-color: #c60;
  color: #c60;
}
article aside {
  font-size: 15px;
	line-height: 18px;
	color: #bbb;
}
article aside#metadata {
	position: absolute;
	left: 220px;
	top: 65px;
}
article aside#metadata li {
  margin-bottom: 5px;
}
article aside#footer {
  padding: 20px 0;
}
article figure {
  display: block;
	margin: 0;
}
article figure img {
  max-width: 600px;
  display: block;
}
article figcaption {
  display: block;
  margin: 10px 0 25px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #888;
}

footer {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 48px;
  font-size: 13px;
  line-height: 16px;
  color: #555;
}

/*** SMALL SCREENS ***/

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 700px)  {
  
  body {
    border-top: #c60 solid 10px;
  }
  
  header#global {
    top: auto;
    left: auto;
    margin: 20px;
    width: auto;
    height: auto;
    position: relative;
    display: block;
  }
  header#global li, header#global li a {
    display: inline;
    padding-right: 0.5em;
  }
  header#global .account {
    display: none;
  }
  header#global #intro {
    display: none;
  }
  
  nav#types {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0 20px;
    border: none;
  }
  
  #content {
    margin: 0;
    padding: 10px 0 0 0;
  }
  #content h4 {
    position: relative;
    left: 0;
    margin: 0 0 20px 0;
  }  
  #content>ol>li {
    margin-left: 20px;
    background: none;
  }  
  #content dl {
    margin-left: 0 !important;
    max-width: 100%;
  }
  #content .permalink {
    position: relative;
    margin: 0;
    text-align: left;
  }
  
  article {
    margin: 0 20px;
    font-size: 15px;
    line-height: 20px;
  }
  article p, article figure {
    margin: 0 0 20px 0;
  }
  article h1, article h2 {
    margin-bottom: 20px;
  }
  article figure img {
    max-width: 100%;
  }
  article aside#metadata {
    position: relative;
    width: auto;
    left: auto;
    top: auto;
    margin-bottom: 20px;
  }
  article aside#metadata li {
    display: inline;
    margin: 0 1em 0 0;
  }

  footer {
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    height: auto;
    padding: 20px 0 0 20px;
    font-size: 13px;
    line-height: 16px;
    color: #555;   
  }

}