/*** RESET ***/

@import '/css/reset.css';

/*** GLOBAL ***/

body {
  font-family: "etica-1", "etica-2", Helvetica, Arial, sans-serif;
	font-weight: 200;
	background: rgb(20,20,20);
	color: #bbb;
	margin-bottom: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #c60;
}

strong {
	font-weight: 600;
}
header {
  display: block;
  position: fixed;
  z-index: 9999;
	background: rgba(33,33,33,0.9);
	border-top: #c60 solid 10px;
	padding: 20px 0;
	width: 100%;
	height: 101px;
}
header h1 {
  font-size: 22px;
	line-height: 30px;
  font-weight: 400;
  padding-right: 20px;
}
header img {
	display: block;
	float: left;
	margin: 0 20px;
}

/*** STREAM ***/

#stream {
  clear: both;
  padding-top: 170px;
}
#stream h4 {
	position: absolute;
	left: 20px;
	padding-top: 0;
	font-size: 15px;
	line-height: 18px;
}
#stream dd {
	display: block;
	margin-bottom: 2px;
}
#stream>ol>li {
	margin: 0 0 20px 160px;
	background: url(/images/stream3.png) repeat-y;
}
#stream>ol>li:first-child {
	border: 0;
}
#stream .when {
	font-size: 11px;
	line-height: 11px;
	margin-top: 4px;
	text-transform: uppercase;
	color: #666;
	display: none;
}
#stream .when a {
  color: #666;
}
#stream .when a:hover, #stream .entry .when a:hover {
	color: #c60;
}
#stream .what img {
  background-color: #bbb;
}
#stream .what a:hover img {
  background-color: #c60;
}
#stream .what img {
  display: block;
  padding: 1px;
  margin: 5px 0;
}
#stream dl {
	padding: 0 20px 0 10px;
	margin: 0 0 20px 0;
	border-style: solid;
	border-left-width: 10px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 200;
	max-width: 550px;
}
#stream dt, #stream dd { display: inline; }
#stream .entry dl {
	border-color: #c60;
	margin-left: 0;
}
#stream .entry .what {
	font-weight: 400;
}
#stream .twitter dl {
	border-color: #34CCFF;
	margin-left: 80px;	
}
#stream .twitter a:hover { 
  color: #34CCFF;
}
#stream .delicious dl {
	border-color: #3274D1;
	margin-left: 160px;
}
#stream .delicious a:hover { 
  color: #3274D1;
}
#stream .delicious dt {
	font-weight: 400;	
	display: block;
}
/*#stream .delicious .body:before {
  content: " - ";
}*/
#stream .flickr dl {
	border-color: #FF0084;
	margin-left: 240px;
}
#stream .flickr a:hover { 
  color: #FF0084;
}
#stream .youtube dl {
	border-color: #FF3333;
	margin-left: 320px
}
#stream .youtube a:hover { 
  color: #FF3333;
}
#stream .lastfm dl {
	border-color: #D10E05;
	margin-left: 400px;	
}
#stream .lastfm a:hover { 
  color: #D10E05;
}

/*** NAV ***/

#nav {
	display: block;
	font-size: 15px;
	line-height: 15px;
	position: fixed;
	z-index: 10000;
	top: 136px;
	left: 160px;
	width: 100%;
	height: 20px;
}
#nav li {
	display: block;
	float: left;
}
#nav a, #nav span {
	display: block;
	float: left;
	width: 60px;
	border-left-style: solid;
	border-left-width: 10px;
	padding: 0 0 0 10px;
	margin-bottom: 10px;
}
#nav a:hover, #nav a:hover.inactive {
  color: #c60;
}
#nav a.inactive {
  text-decoration: line-through;
  border-color: #001F35;
  color: #334;
}
#nav .active * {
	font-weight: 400;
}
#nav .entry *           { border-color: #c60;    } 
#nav .entry a:hover     { color: #c60;           }
#nav .delicious *       { border-color: #3274D1; }
#nav .delicious a:hover { color: #3274D1;        }
#nav .twitter *         { border-color: #34CCFF; }
#nav .twitter a:hover   { color: #34CCFF;        }
#nav .flickr *          { border-color: #FF0084; }
#nav .flickr a:hover    { color: #FF0084;        }
#nav .lastfm *          { border-color: #D10E05; }
#nav .lastfm a:hover    { color: #D10E05;        }
#nav .youtube *         { border-color: #FF3333; }
#nav .youtube a:hover   { color: #FF3333;        }

/*** CONTENT ***/

body.content {
  background: #eee;
}
#content {
  margin: 20px;
}
#content p {
	margin-bottom: 25px;
}
#content h2 {
  margin: 25px 0 25px 160px;
  max-width: 500px;
  font-size: 28px;
  font-weight: 200;
  line-height: 35px;
	color: #c60;
}
#content h4 {
	position: absolute;
	left: 20px;
	padding-top: 0;
	font-weight: 200;
	font-size: 16px;
	line-height: 25px;
	color: #666;
}
#content .article {
  margin-left: 160px;
  max-width: 450px;
  color: #141414;
  font-size: 16px;
  line-height: 25px;
}
#content blockquote {
  border-left: #c60 solid 10px;
  margin-left: 0px;
  padding-left: 20px;
}
#content a {
  color: #eee;
  background: #c60;
  margin: -1px 0;
  padding: 1px 2px;
}
#content a:hover {
  background: #141414;
}

/*** SMALL SCREENS ***/

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 700px)  {
  
  header {
    position: relative;
    background: none;
  }
  header h1 {
    font-size: 18px;
    line-height: 22px;
  }
  
  #nav { 
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
  }
  
  #stream {
    padding: 10px 0 0 0;
  }

  #stream h4 {
    position: relative;
    left: 0;
    margin: 0 0 20px 0;
  }
  
  #stream>ol>li {
    margin-left: 20px;
    background: none;
  }
  
  #stream dl {
    margin-left: 0 !important;
    max-width: 100%;
  }

}
