/*** RESET ***/

@import '/css/reset.css';

/*** GLOBAL ***/

body {
	font-family: "etica-1", "etica-2", Helvetica, Arial, sans-serif;
	font-weight: 200;
}
/* home/archive pages: no sidebar, dark bg */
body.home, body.archive { 
	background: rgb(20,20,20);
}
/* article/static pages: sidebar, white bg */
body.article, body.static { 
	background: #fff;
	padding-right: 22%;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #c60;
}
a:active {
	position: relative;
	top: 1px;
}
strong {
	font-weight: 600;
}

/*** HOME HEADER ***/

#home {
	background: #17371a;
	color: rgba(255,255,255,0.8);
	text-shadow: 1px 1px 0 #000;
	padding: 20px;
	min-height: 70px;
}
#home a {
	color: rgba(255,255,255,1);
}
#home a:hover {
	color: #c60;
}
#home h2 {
	font-size: 20px;
	line-height: 23px;
}
#home h3 {
	padding-top: 8px;
	font-size: 15px;
	line-height: 19px;
}
#home img {
	display: block;
}
#home .photo {
	border: #70b323 solid 5px;
	margin: 0 20px 20px 0;
	float: left;
}
#home p.contact {
	padding-top: 40px;
	text-align: right;
	color: rgba(255,255,255,0.6);
	font-size: 15px;
	line-height: 19px;
	font-weight: 400;
}

/*** SIDEBAR ***/

#sidebar {
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	width: 22%;
	height: 100%;
	padding: 20px 0;
	background: #17371a;
	color: rgba(255,255,255,0.8);
	border-top: #c60 solid 10px;
	font-family: "etica-1", "etica-2", Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px 0 #000;
	font-size: 12px;
	line-height: 16px;
}
#sidebar .intro {
	font-size: 14px;
	line-height: 19px;
}
#sidebar a img {
	border: #70b323 solid 5px;
}
#sidebar a:hover img {
	border: #c60 solid 5px;
}
#sidebar p, #sidebar ul, #sidebar h2 {
	padding: 0 20px;
	margin: 0 0 1em 0;
}
#sidebar li {
	margin-bottom: 3px;
}
#sidebar .photo {
	height: 70px;
}
#sidebar .photo img {
	float: left;
	margin-right: 10px;
}
#sidebar .photo a span { 
	float: left;
	display: none;
}
#sidebar .photo a:hover span { display: inline; }
#sidebar h2 {
	color: #70b323;
	text-transform: uppercase;
	margin-bottom: 1em;
	font-weight: bold;
}
#sidebar a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
#sidebar a:hover { color: #c60; }
#sidebar a:active { color: #70b323; }
#sidebar .account {
	color: rgba(255,255,255,0.5);	
}
#sidebar a:hover .account {
	color: #c60;
}

/*** STREAM CONTENT ***/

#content {
	clear: both;
	padding-top: 65px;
	text-shadow: 1px 1px 0 #000;
	color: #bbb;
}
#content h4 {
	position: absolute;
	left: 20px;
	font-size: 15px;
	line-height: 18px;
	width: 180px;
}
#content dd {
	display: block;
	margin-bottom: 2px;
}
#content>ol>li {
	margin: 0 0 20px 180px;
	background: url(/images/stream.png) repeat-y;
}
#content img {
	background-color: #bbb;
	padding: 1px;
	margin: 5px 0 0 0;
}
#content dl {
	padding: 0 20px 0 10px;
	margin: 0 0 20px 0;
	border-style: solid;
	border-left-width: 10px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 200;
	max-width: 550px;
}
#content dt, #content dd { display: inline; }
#content .permalink {
	position: absolute;
	display: block;
	width: 40px;
	margin-left: -70px;
	text-align: right;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	padding-top: 1px;
}
#content .permalink a {
	color: #555;
}
#content .home dl {
	border: none;
}
#content .blog dl {
	border-color: #70b323;
	margin-left: 0;
}
#content .blog {
	font-weight: 400;
}
#content .blog a:hover { color: #70b323; }
#content .twitter dl {
	border-color: #34CCFF;
	margin-left: 100px;	
}
#content .twitter a:hover { color: #34CCFF; }
#content .twitter a:hover img { background-color: #34CCFF; }
#content .delicious dl {
	border-color: #3274D1;
	margin-left: 200px;
}
#content .delicious a:hover { color: #3274D1; }
#content .delicious a:hover img { background-color: #3274D1; }
#content .delicious dd.title, #content .blog dt {
	font-weight: 400; 
	display: block;
}
#content .flickr dl {
	border-color: #FF0084;
	margin-left: 300px;
}
#content .flickr a:hover { color: #FF0084; }
#content .flickr a:hover img { background-color: #FF0084; }
#content .youtube dl {
	border-color: #FF3333;
	margin-left: 400px
}
#content .youtube a:hover { color: #FF3333; }
#content .youtube a:hover img { background-color: #FF3333; }
#content .lastfm dl {
	border-color: #D10E05;
	margin-left: 500px; 
}
#content .lastfm a:hover { color: #D10E05; }
#content .lastfm a:hover img { background-color: #D10E05; }

/*** NAV ***/

#types {
	z-index: 9998;
	position: absolute;
	background: rgba(33,33,33,0.9);
	border-top: #c60 solid 10px;
	width: 100%;
	text-shadow: 1px 1px 0 #000;
}
/* nb: archive pages default to a sticky nav */
#types.sticky, body.archive #types {
	position: fixed;
	width: 100%;
	top: 0;
}
#types nav {
	display: block;
	font-size: 15px;
	line-height: 15px;
	padding: 0 0 0 20px;
	height: 15px;
}
#types nav li {
	display: block;
	float: left;
	padding-top: 20px;
}
#types nav .home	 { width: 160px; }
#types nav .home a { border: none; padding-left: 0; }
body.home #types nav .home { visibility: hidden; }
#types nav a, #types nav span {
	display: block;
	float: left;
	width: 80px;
	border-left-style: solid;
	border-left-width: 10px;
	padding: 0 0 0 10px;
}
#types nav a:hover, #types nav a:hover.inactive {
	color: #c60;
}
#types nav .inactive a {
	text-decoration: line-through;
	border-color: #001F35;
	color: #334;
}
#types nav .active {
	font-weight: 600;
}
#types nav .blog *						{ border-color: #70b323; }
#types nav .blog a:hover			{ color: #70b323;				 }
#types nav .delicious *				{ border-color: #3274D1; }
#types nav .delicious a:hover { color: #3274D1;				 }
#types nav .twitter *					{ border-color: #34CCFF; }
#types nav .twitter a:hover		{ color: #34CCFF;				 }
#types nav .flickr *					{ border-color: #FF0084; }
#types nav .flickr a:hover		{ color: #FF0084;				 }
#types nav .lastfm *					{ border-color: #D10E05; }
#types nav .lastfm a:hover		{ color: #D10E05;				 }
#types nav .youtube *					{ border-color: #FF3333; }
#types nav .youtube a:hover		{ color: #FF3333;				 }

/*** ARTICLE ***/

article {
	background: #fff;
	display: block;
	padding: 30px 0;
}
article h1, article h2 {
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 1em;
	color: #70b323;
}
article h1 {
	font-size: 34px;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}
article h2 {
	font-size: 21px;
	padding: 20px 0 20px 0;
}
article ul, article ol, article p, article pre, article blockquote {
	font-family: georgia, "Times New Roman", times, serif;
	margin: 0 0 1.5em 0;
}
article section#body {
	display: block;
	margin: 40px auto;
	padding: 0 20px;
	max-width: 600px;
	font-size: 16px;
	line-height: 23px;
	color: #222;
}
article ol {
	list-style: decimal outside;
}
article ul {
	list-style: square outside;
}
article li {
	margin-bottom: 10px;
}
article strong, article a {
	font-family: "etica-1", "etica-2", Helvetica, Arial, sans-serif;
	font-weight: 600;
}
article a {
	color: #c60;
	text-decoration: none;
}
article a:hover {
	color: #000;
}
article a:active {
	color: #70b323;
}
article header .photo {
	display: block;
	max-height: 285px;
	overflow: hidden;
}
article header .photo img {
	display: block;
	width: 100%;
	margin: -150px auto 0 auto;
}
article footer p {
	margin: 0 auto;
	max-width: 600px;
	padding: 10px 0 20px 0;
	color: #17371a;
}
article blockquote {
	border-left: #70b323 solid 5px;
	padding: 5px 0 5px 10px;
	font-style: italic;
}
article blockquote p {
	margin: 0;
}
article pre {
	border-left: #70b323 solid 5px;
	padding: 5px 0 5px 10px;
	background: rgba(23, 55, 26, 0.1);
}
article code, article pre {
	font-family: monospace;
	font-size: 14px;
	line-height: 17px;
}
article p code {
	background: rgba(23, 55, 26, 0.1);
	padding: 2px 4px;
}
article img {
	max-width: 100%;
}

/*** SMALL SCREENS ***/

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px)	 {
	
	body, body.article, body.static {
		padding: 0;
	}
	
	#home h2 {
		font-size: 15px;
		line-height: 19px;
	}
	
	#sidebar {
		position: relative;
		width: 100%;
		border: none;
	}
	#sidebar li { 
		float: left;
		margin: 0 1em 1em 0;
		font-size: 14px;
		line-height: 19px;
		width: 45%;
	}
	#sidebar h2 {
		clear: left;
	}

	#types, body.archive #types {
		position: relative;
		background: none;
	}
	#types nav {
		padding: 20px 0 10px 20px;
	}
	#types nav li {
		padding: 0 0 10px 0;
	}
	#types nav li.home {
		width: 100px;
	}
	body.home #types nav .home { display: none; }
	#types.sticky { 
		position: relative; 
		width: 100%;
		top: auto;
	}
	
	#content {
		margin: 0;
		padding: 10px 0 0 0;
	}
	#content h4 {
		position: relative;
		left: 0;
		margin: 0 0 20px 0;
	}	 
	#content>ol>li {
		margin-left: 20px;
		background: none;
	}	 
	#content dl {
		margin-left: 0 !important;
		max-width: 100%;
	}
	#content .permalink {
		position: relative;
		margin: 0;
		text-align: left;
		padding: 0 0 2px 0;
	}
	
	article {
		margin: 0;
		padding: 30px 0 0 0;
	}
	article li { list-style-position: inside }
	article footer {
		padding: 0 20px 20px 20px;
	}

}