<article>
	
<header>
	<h1>{{ page.title }}</h1>
	{% if page.photo %}
		<div class="photo"><img src="{{ page.photo }}" /></div>
	{% endif %}
</header>

<section id="body">
{{ content }}
</section>

<footer>
	<p>
		&mdash;<a href="/about"><strong>Barry Frost</strong></a>, 
		<a href="{{ page.date | date:"/%Y/%m/%d/" }}"><time title="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date:'%Y-%m-%d' }}</time></a>
	</p>
	<p style="text-align: right;"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="barryf">Tweet</a></p>
	<script src="http://platform.twitter.com/widgets.js"></script>
</footer>

</article>
